/*@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('fonts/HelveticaNeueLTArabic-Roman.eot');
    src: url('fonts/HelveticaNeueLTArabic-Roman.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueLTArabic-Roman.woff2') format('woff2'), url('HelveticaNeueLTArabic-Roman.woff') format('woff'), url('HelveticaNeueLTArabic-Roman.ttf') format('truetype'), url('HelveticaNeueLTArabic-Roman.svg#HelveticaNeueLTArabic-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

body {
    font-family: 'Ubuntu', sans-serif;
}

button {
    width: 10em;
}


/* button:hover {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #ffc107 !important;
       
}*/

.height {
    min-height: 100vh;
}

.title-underline {
    width: 220px !important;
    height: 7px !important;
    margin: 0 auto !important;
}

.about-pic {
    background: url('../img/header-bkg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* The hero image */

.darking-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)), url("../img/header-bkg.jpg");
    /* Set a specific height */
    /*height: 50%;*/
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fixed-row-bottom {
    position: absolute;
    bottom: 0;
}

#proj_img {
    width: 272px;
    height: 408px;
}

.carousel-indicators .active {
    background-color: #ffff00;
}

#filler,
#progress {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../img/header-bkg.jpg");
    /* Set a specific height */
    /*height: 50%;*/
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}